 nav {
            width: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 15px 0;
            margin-bottom: 40px;
            text-align: center;
            border-radius: 10px;
            margin-top: 10px;
        }

        nav a {
           
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;

  padding: 8px 20px;          
  border-radius: 8px;
  transition: all 0.3s ease;


        }

       nav a:hover{
        background-color: rgba(0, 0, 0, 0.15);
        color: rgb(255, 247, 0);
       }
body {
    background-color: #212121;
    color: white;
}

.center {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#clock {
    font-size: 40px;
    background-color: orange;
    padding: 20px 40px;
    margin-top: 10px;
    border-radius: 10px;
}
#banner{
    text-align: center;
}